venv/

# LaTeX compilation artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.toc
*.synctex.gz
*.xdv
*.pdf
# Bỏ qua thư mục rác do LaTeX Workshop tạo (nếu có)
.vscode/
.agents/
.gitignore